* {
    margin: 0;
    padding: 0;
}
.body{
	width: 100%;
    height: 100%;
    overflow-x: hidden;
	margin:0px, 20px;
}

.menu{
	display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1319px;
    height: 26px;
    margin: 10px;
}


.menu-left{
	display: inline;
}
.menu-left p {
	display: inline-block;
	padding-left: 20px;
}
.menu-left p a {
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
    text-decoration: none;
    color: black;
}
.menu-center a img{
	width: 190px;
	height: 26px;
	align-items: center;
}

.menu-right {
    display: flex;
}

.subscribe {
    display: inline-flex;
    margin-right: 7px;
}

.login-in {
    display: inline-flex;
}

button.now,
button.log {
    background: #6288a5;
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    -webkit-transition: ease 0.6s;
    transition: ease 0.6s;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 10px;
    padding: 8px 10px 8px 10px;
    text-transform: uppercase;
    vertical-align: middle;
}

p.line-across {
     border-bottom: 1px solid #e2e2e2;
}

.publisher {
    margin-bottom: 30px;
}

.author-name {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
}

.author-name a {
    font-weight: 700;
    color: #333;
}

.date p {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 18px;
}

.icons-social ul li a i,
ul.social-media li a i {
	display: inline-block;
    vertical-align: middle;
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 5px;
    width: 15px;
    height: 15px;
    color: #000;
}

ul.social-media li a i {
	margin: 15px 7px 0 0;
}

.article-title {
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 20px;
}
.article-title h2{
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times ne.2roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.2rem;
    line-height: 2.4rem;
}
.post-image{
	width: 945px;
	margin: auto;
}
.image-title figure img{
	width: 945px;
	height: 532px;
}
figcaption{
    margin-right: 7px;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    width: 740px;
    font-size: 15px;
    line-height: 20px;
}
figcaption span{
	color: #888;
	text-align: left;
    font-size: small;
}

header {
    margin-bottom: 50px;
}

.container{
    margin-top: 40px;
    width: 60%;
    /* margin: auto; */
    position: relative;
    left: 390px;
}

/*.publisher{
	color: #121212;
	text-align: center;
	width: 700px;
}
.author-name a{
	text-decoration: underline;
	color: #333;
	cursor: pointer;
}
.publish-date{
	width: 700px;
	
}
.publish-date ul{
	list-style: none;
    display: inline;
}
.publish-date ul li{
	display: inline-block;
    color: black;
    justify-content: center;
}*/

/*.main-section {
    display: inline;
}

.main-section .article {
	display: inline-block;
	width: 50%;
}

.main-section .sidebar {
	display: inline-block;
    width: 30%;
    float: right;
}*/

.published-date {
    display: flex;
    justify-content: space-between;
    width: 590px;
}
.date a{
	color: #333;
}

.icons-social {
    margin-top: -10px;
}


.icons-social ul li {
    list-style: none;
    display: inline-block;
    padding: 7px;
}
.icons-social a{
	color: black;
}

.article p a:not(.published-0n a){
	color: #326891;
    text-decoration: underline;
}

.article p {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333;
    margin-bottom: 15px;
}

.article p a {
    color: #326891;
    text-decoration: underline;
}

p.published-on,
p.published-on a {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #999;
    text-decoration: none;
}

.remainder {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.border-top-rem,
.border-bottom-rem {
    width: 72px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0px auto 18px;
}

.article h2 {
    font-weight: 700;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 10px 0;
}

.stanford-video p,
.telescope-image p {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

.stanford-video p span,
.telescope-image p span {
	color: #888888;
	font-size: 12px;
	line-height: 15px;
}

.article h3 {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.remainder p,
.remainder p a {
    font-family: nyt-franklin;
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    color: #333;
    margin-bottom: 0;
}

.remainder p a {
	color: rgb(50, 104, 145);
	text-decoration: none;
}

.stanford-video {
    margin: 20px 0px;
}

.telescope-image {
    margin: 40px 0px;
}

.telescope-image img {
    width: 600px;
}
.published-on{
	color: #999;
	font-size: 12px;
	margin-top: 20px;
}
.published-on a{
	color: #999;
	text-decoration: none;
   }

.more-comments {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.comments{
	width: 330px;
    height: 56px;
    margin: 10px 0px;
    padding-right: 10px 16px 10px 0px;
}
.btn-comment{
background-color: rgb(98, 136, 165);
border: 1px solid rgb(50, 104, 145);
border-radius: 3px;
width: 100%;
font-size: 14px;
font-weight: 600px;
padding: 10px 0px;
color: white;
margin-left: auto;
margin-right: auto;
vertical-align: center;
cursor: pointer;

}

ul.social-media li {
    list-style: none;
    display: inline-block;
}

.middle-section {
    background: url('images/theory.png');
}

.main-section {
    display: flex;
}

.article {
    width: 600px;
    
}

.sidebar {
    width: 210px;
    margin: 30px;

}
.top-sidebar{
    width: 180px;
    margin: 30px;
    position: relative;
    top: 150px;
}

.top-sidebar h4 {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.top-sidebar p {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-left: 0px;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: rgb(102, 102, 102);
    margin: 10px 0;
}

button.sign-up {
    color: rgb(255, 255, 255);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    text-transform: uppercase;
    width: 100%;
    height: 35px;
    background: rgb(98, 136, 165);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(98, 136, 165);
    border-image: initial;
    border-radius: 4px;
    padding: 10px;
    margin: 0px;
}
.tuition-fee{
    display: flex;
}
.tuition-fee p{
    color: rgb(51, 51, 51);
    font-size: 14px;
}
.tuition-fee p:hover{
    text-decoration: underline;
}

.middle-sidebar {
    width: 210px;
    margin: 30px;
    position: relative;
    top: 650px;
}


.middle-sidebar h5 {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.middle-sidebar ul li {
    list-style: none;
    margin-bottom: 15px;
}

.middle-sidebar ul li div img {
    width: 75px;
    height: auto;
    margin-right: 5px;
}

.story-heading {
    margin: 13px 0;
}
.story-heading a{
    color: black;
    font-size: 16px;
    line-height: 20px;
}
.story-heading a:hover{
    text-decoration: underline;
}

.more-content {
    display: flex;
    width: 90%;
    margin: auto;
}

.more-storeis {
    width: 70%;
    margin: 0px 20px;
}

.articles-images, .editor-contents{
    display: flex;
    flex-wrap: wrap;
    width:875px;
}

.single-story {
    width: 272px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.single-story figcaption{
    width: 272px;
    text-align: end;
}
.single-story figure img {
    height: 181px;
}
.single-story h2 a{
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: black;
    text-align: left;
}
.single-story span {
     font-weight: 500;
    font-size: 12px;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
    color: rgb(153, 153, 153);
}
.separator{
    border:0.5px solid #333;
}
.editors-pick{
    width: 852px;
	margin-left: 75px;
    margin-top: -70px;
}
.popular-articles{
    display: flex;
    justify-content: wrap;

}
.most-sidebar{
    width: 315px;
    margin-left: 20px;
}
.most-sidebar ul{
list-style: none;
}
.most-sidebar li{
    border-top: 1px solid rgb(226, 226, 226);
    padding: 15px 0px;
}
.most-sidebar li a{
    color: rgb(18, 18, 18);
    font-size: 19px;
    line-height: 23px;
    text-decoration: none;
}
.footer{
	width: 90%;
	margin: auto;
}
.header{
	display: flex;
	justify-content: space-between;
}
.header a img{
	width: 190px;
	height: 26px;
}

.header a #home-return{
	float: right;
	}

.middle-parts{
	display: flex;
	justify-content: space-between;
	justify-content: wrap;
    margin: 15px 0;
}
.middle-parts ul{
	list-style: none;

}
.middle-parts div{
	width: 18%;
}
.middle-parts h3 {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 700;
    font-family: Arial;
    height: 25px;
    line-height: 15px;
    text-transform: uppercase;
}

.middle-parts ul li a {
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: Arial;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    height: 23px;
    line-height: 16px;
    text-decoration: none;
}

.primary-footer{
/*    align-items: center;
    display: flex;*/
    padding-top: 9px;
    border-top: 1px solid rgb(235, 235, 235);
    padding-bottom: 9px;
}
.primary-footer a{
	color: #333;
	}
.copyright{
	padding: 0px 10px;
}
.copyright a{
	margin: 10px 0px;
}
.account-links ul{
	display: inline;
}
.account-links ul li{
	display: inline-block;
	padding:0px 10px;
    list-style: none;

}
.account-links li a{
	margin:10px 0px;
	padding: 0;
    
}
a{
	text-decoration: none;
}

.separator-footer {
    border: 2px solid rgb(226, 226, 226);
    margin-bottom: 10px;
}

a#home-return {
    color: rgb(98, 136, 165);
    font-family: nyt-franklin;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
}

.sidebar-line {
    border-left: 1px solid rgb(226, 226, 226);
    padding-left: 15px;
}

a.home-delivery {
    color: rgb(0, 0, 0) !important;
    display: inline-block !important;
    font-family: Arial !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    height: 25px !important;
    line-height: 15px !important;
    padding-bottom: 5px !important;
    text-decoration: none !important;
}

a.home-email {
    color: rgb(0, 0, 0) !important;
    display: inline-block !important;
    font-family: Arial !important;
    text-transform: capitalize !important;
    font-size: 11px !important;
    font-weight: 500 !important;
    height: 23px !important;
    line-height: 21px !important;
}


a.home-email.mobile {
    border-top: 1px solid rgb(226, 226, 226);
    width: 200px;
    margin: 5px 0px;
    padding-top: 10px;
}

.footer-final {
    display: flex;
    justify-content: center;
}

.footer-final a {
    font-family: arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #999;
}

.theory-years {
    position: relative;
    width: 945px;
    left: -200px;
}