* {
    margin: 0;
    padding: 0;
}
.body{
	width: 100%;
	margin:0px, 20px;
    }

.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #ADADAD;
}
.menu-left{
	display: inline;
}
.menu-left p {
	display: inline-block;
	padding-left: 20px;
}
.menu-left p a{
	color: black;
	text-decoration: none;
	font-family: "helvetica, arial, sans-serif";
	font-style: bold;
}
.menu-center a img{
	width: 190px;
	height: 26px;
	align-items: center;
}
.menu-right{
	display: inline !important;
}
.menu-right div button{
	display: inline-block !important;
}
.article-title{
	margin-top: 40px;
}
.article-title h2{
	color: #121212;
	text-align: center;
	font-style: italic;
	font-size: 40px;
	line-height: 48px;
	font-weight: 700;
}
.post-image{
	width: 945px;
	margin: auto;
}
.image-title figure img{
	width: 945px;
	height: 532px;
}
figcaption{
	margin-right: 7px;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    width: 740px;
}
figcaption span{
	color: #888;
	text-align: left;
    font-size: small;
}